@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --color-blue: #2f80ec;
  --color-dark-blue: #292c4b;
  --color-white: #ffffff;
  --color-white-gray: #f6f7fb;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
#__next {
  background-color: var(--color-white-gray);
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}