.product-list {
  width: 100%;
  height: 100%;
  max-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 24px;
  overflow-y: scroll;
}

.product-list__product-card {
  background-color: var(--color-white);
  width: 240px;
  height: 280px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-list__product-card__image {
  position: relative;
  width: 100%;
  height: 200px;
}
.product-list__product-card__desc {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
/* hide agar string tidak kepanjangan */
.product-list__product-card__desc > p {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-list__product-card__desc > button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 300ms all;
}
.product-list__product-card__desc > button:hover {
 filter: brightness(130%);
}