.layout {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
}
.sidebar {
  background-color: var(--color-dark-blue);
  width: 130px;
  display: flex;
  align-items: center;
}
.sidebar__nav {
 background-color: var(--color-blue);
 width: 80%;
 height: 80%;
 border-top-right-radius: 24px;
 border-bottom-right-radius: 24px;
 color: white;
}
.sidebar__nav > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 10px 20px 0;
  gap: 10px;
}
.sidebar__nav > ul > li {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  font-size: 18px;
  cursor: pointer;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  border-radius: 15px;
  transition: all 300ms;
}
.sidebar__nav > ul > li:hover, 
.sidebar__nav > ul > li.active {
  background-color: var(--color-white);
  color: var(--color-blue);
}

.content {
  width: calc(100vw - 130px);
  max-height: 100vh;
  padding: 24px;
}