.transaction-list {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  overflow-y: scroll;
  justify-content: center;

}
.card-transaction-list {
  width: 80%;
  height: 300px;
  border: 1px solid #303030;
  margin-top: 50px;
  padding: 5px;
  overflow-y: scroll;
  
}
.card-transaction-list > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 20px 20px;
  
}
.card-transaction-list > ul > li {
  width: 100%;
  height: auto;
  /* background-color: var(--color-blue); */
}
.card-transaction-list > ul > li:nth-child(1) {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper-total-price {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 2px solid #303030;
  border-radius: 4px;
  margin-bottom: 20px;
}
.wrapper-total-pay {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 2px solid #303030;
  border-radius: 4px;
}
 .total {
  border: 2px solid #303030;
  margin-top: 20px;
  padding: 5px;
  border-radius: 4px;
}

.card-transaction-list > ul > li:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #303030;
  border-radius: 4px;
  padding: 5px;
}



.wrapper-item {
  display: flex;
  flex-direction: column;
}

.item-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #303030;
}