.cart {
  background-color: var(--color-white);
  width: 35%;
  height: 90vh;
  padding: 24px;
  border-radius: 24px;
}
.cart > form {
  margin-top: 50px;
}
.cart__cart-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 75%;
  overflow: auto;
}

.cart-item {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.cart-item__image {
  width: 50px;
  position: relative;
  margin-right: 6px;
}

.cart-item__desc {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 40%;
}

.cart-item__desc > p {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cart-item__action {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.cart-item__action > button {
  width: 25px;
  height: 25px;
  background-color: var(--color-blue);
  border-radius: 50%;
  border: none;
  outline: none;
  color: var(--color-white);
  cursor: pointer;
  transition: 300ms all;
}

.cart-item__action > button:hover {
  filter: brightness(130%);
}


.cart__pay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #303030;
  border-radius: 24px;
  margin-top: 20px;
  padding: 0 10px;
}

.pay__pay-input {
  height: 50px;
  border-top-right-radius: 24px;
  border-end-end-radius: 24px;
  border: none;
  outline: none;
}

.cart__checkout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout__btn-checkout {
  width: 100%;
  height: 30px;
  background-color: var(--color-blue);
  border: none;
  outline: none;
  color: var(--color-white);
  border-radius: 24px;
  cursor: pointer;
  transition: 300ms all;
  margin-top: 20px;
}
.card{
  width: 100%;
  height: 50%;
  border: 1px solid #303030;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 40px;
}
.total, .pay, .cashback {
  display: flex;
  justify-content: space-between;
}
.btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
}
.close-btn:hover {
  filter: brightness(130%);
}
.close-btn {
  background-color: #c80000;
  color: var(--color-white);
  padding: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 2px;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
